[data-theme='light'] {
	--border: #e6e8eb;
	--body: #ffffff;
	--color: rgb(17, 24, 28);
	--codeBG: #f5fbff;
	--codeDisableBG: #f5f5f5;
	--codeDisableColor: #868686;
	--codeBorder: #d7e0ff;

	--demoBG:  #fdfdfd;
	--demoBorder: 1px solid #eaeaea;
	--demoImageColor: #bfbfbf;
}
