@mixin respondAt($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respondAtLarge($breakpoint, $breakpoint2) {
  @media only screen and (min-width: $breakpoint) and (max-width: $breakpoint2) {
    @content;
  }
}

@mixin box($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin make-flex($dir: column, $align: center, $just: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $just;
}